/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#mainBox
{
  visibility: hidden;
}
#mainBox[loaded]
{
  visibility: visible;
}

#title
{
  font-size: 48px;
  font-weight: bold;
}

#mainGroup
{
  margin-top: 15px;
  width: 450px;
  height: 400px;
  overflow: auto;
}

#homepageTitle, #authorsTitle, #contributorsTitle, #subscriptionAuthorsTitle, #translatorsTitle
{
  font-weight: bold;
}

#description, #homepage, #authorsBox, #contributorsBox, #subscriptionAuthorsBox
{
  margin-bottom: 10px;
}
