/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root
{
  max-width: 500px;
  background-image: url(abp-icon-big.png);
  background-repeat: no-repeat;
  background-position: 95% 5%;
  font-size: 130%;
}

.sectionTitle
{
  font-weight: bold;
}

#changeDescription > .text-link
{
  margin: 0px;
}

#listNameContainer,
#listNone
{
  margin: 10px 40px;
}

#listNone
{
  font-style: italic;
}

#acceptableAds
{
  font-size: 90%;
  font-weight: bold;
}
#acceptableAds > *
{
  font-weight: normal;
}

.sectionContainer
{
  margin: 1em 2em;
}
